/* Grid style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-wrap figure img {
	width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 50px;
    opacity: 0;
	transition: opacity 0.3s;
}

.grid-wrap figure img.loaded,
.grid-wrap figure img.error {
	opacity: 1;
}

.grid-wrap figure img:not([src]) {
	visibility: hidden;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 1em;
}

.grid-gallery figcaption p {
	padding: 0.5em 0 0;
}

.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 15px 1em 1.875em;
}

.grid-gallery .list figcaption h3 {
	margin: 0;
	padding: 0;
}

.grid-gallery .list figcaption p {
	padding: 0;
}

.list {
	margin: 0 auto;
}

.list li i {
	margin-right: 5px;
	margin-bottom: 20px;
}

.list li {
	width: 100%;
	float: left;
	padding: 15px;
}

.list figure {
    background-color: white;
    padding: 0px;
}

.youtube_player {
	width: 100%;
	height: 20em;
}

.list figcaption {
	background: white;
	padding: 25px;
}

.grid {
	margin: 0 auto;
}

.grid li i {
	margin-right: 3px;
}

.grid li {
	/* For n elements side by side: 100/n % */
	width: 33.3%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: white;
	padding: 25px;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
	.grid-wrap figure img:-moz-loading {
		visibility: hidden;
	}
}

/* Custom media queries: reduce number of columns and change slideshow layout */
/* This code needs to be in that specific file otherwise the dynamic resize does not work on mobile. */
@media screen and (max-width: 60em) {
	.grid li {
		/* For n elements side by side: 100/n % */
		width: 50%;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

	.slideshow h3 {
		display: none;
	}
}

@media screen and (max-width: 35em) {
	.grid li {
		width: auto;
	}

	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}
}
