---
layout: default
---

<!-- Load specific CSS files -->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/slideshow.css" />
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/grid-gallery.css" />

<!-- Load specific javascript files -->
<script src="{{ site.url }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.url }}/js/masonry.pkgd.min.js"></script>
<script src="{{ site.url }}/js/classie.js"></script>
<script src="{{ site.url }}/js/cbpGridGallery.js"></script>
<script src="{{ site.url }}/js/lazyload.min.js"></script>

<!-- Add header element -->
{% include header.html %}

<!-- Add the grid element -->
<div id="grid-gallery" class="grid-gallery">
	<!-- grid-gallery -->
	<section class="grid-wrap">
		<ul class="grid">
			<li class="grid-sizer"></li><!-- for Masonry column width -->
			{% for post in site.posts %}
				{% include grid_item.html post=post %}
			{% endfor %}
		</ul>
	</section>

	<!-- slideshow -->
	<section class="slideshow">
		{% for post in site.posts %}
			{% include slideshow_item.html post=post %}
		{% endfor %}
		<nav>
			<span class="icon nav-prev"></span>
			<span class="icon nav-next"></span>
			<span class="icon nav-close"></span>
		</nav>
	</section>
</div>

<!-- Attach javascripts to grid-gallery -->
<script src="{{ site.url }}/js/custom/grid_layout.js"></script>
<!-- If necessary, scroll to grid item -->
<script src="{{ site.url}}/js/custom/scroll_to_item.js"></script>
