---
layout: default
---

<!-- Load specific CSS files -->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/grid-gallery.css" />

<!-- Load specific javascript files -->
<script src="{{ site.url }}/js/masonry.pkgd.min.js"></script>

<!-- Add header element -->
{% include header.html %}

<!-- Add the grid element -->
<div class="grid-gallery">
	<section class="grid-wrap">
		<ul class="list">
			<li class="grid-sizer"></li><!-- for Masonry column width -->
			{% for post in site.videos reversed %}
			<li>
				<figure>
					<iframe class="youtube_player" src="https://www.youtube.com/embed/{{ post.youtube_id }}?ecver=1" frameborder="0" allowfullscreen></iframe>
					<figcaption>
						<h3>{{ post.title }}</h3>
						<p>{{ post.caption }}</p>
						<i class="fa fa-music" aria-hidden="true"></i>
						<a class= "maps_link" href="https://www.youtube.com/results?search_query={{ post.music }}" target="_blank">{{ post.music }}</a>
						<p class="post-date">{{ post.date | date: '%B %d, %Y' }}</p>
					</figcaption>
				</figure>
			</li>
			{% endfor %}
		</ul>
	</section><!-- grid-wrap -->
</div><!-- grid-gallery -->

<!-- Attach javascripts to list-gallery -->
<script>
	var grid = document.querySelector('.list');
	new Masonry( grid, {
		itemSelector: 'li',
		columnWidth: grid.querySelector( '.grid-sizer' )
	});
</script>
