<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		{% include meta.html %}
	
		<!-- Default CSS for all web pages -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/header.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/component.css" />
	
		<!--  Default JS for all web pages -->
		<script src="{{ site.url }}/js/modernizr.custom.js"></script>
		<script src="{{ site.url }}/js/googleanalytics.js"></script>
		<script src="{{ site.url }}/js/moment.min.js"></script>
	
		{% include site_icon.html %}
	</head>

	<body>	
		{{ content }}
	</body>
</html>
